<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.westunitis.systemupdater">

    <!--    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27" />-->

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECOVERY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REBOOT"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.PrepareUpdateService"/>
        <service
            android:name=".services.WuSystemUpdaterService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="jp.co.westunitis.systemupdater.WuSystemUpdaterService.ACTION_BIND" />
            </intent-filter>
        </service>
    </application>

</manifest>